body {
    margin: 0;
    background: url("../img/pattern.png");
    font-family: Arial;
    line-height: 1.5;
    font-size: 18px;
    
}

.mainWindow {
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 5px 10px #ccc;
    border-radius: 10px;
    padding: 20px;
}

.numberWindow {
    display: block;
    width: 400px;
    height: 100px;
    margin: 60px auto;
    text-align: right;
    overflow: hidden;
    border: 2px solid #ccc;
    
}

.keyPad {
    display: inline-block;
    width: 400px;
    margin: 0px 10px;
    margin-right: 0px;
}

.numberButton {
    width: 70px;
    height: 70px;
    font-size: 22px;
    margin-top: 4px;
}

.buttonEquel{
    display: block;
    width: 70px;
    height: 218px;
    font-size: 22px;
    margin-top: 4px;
    margin-right: 10px;
}

.numberKeyPad {
    display: block;
    width: 296px;
    float: left;
}
.equelKeyPad {
    display: inline;
    float: right;
    
}

.resetButton {
    display: block;
    width: 70px;
    height: 70px;
    font-size: 22px;
    margin-top: 4px;
}

.mainNumber {
    margin: 0 0 0 0;
    font-size: 40px;
}

.secondaryLine{
    margin: 0 0 0 0;
    font-size: 20px;
    white-space: pre;
    
}